
.DS_Store
chess gui/__pycache__/chess.cpython-310.pyc
chess gui/__pycache__/globals.cpython-310.pyc
chess gui/__pycache__/test.cpython-310.pyc
chess gui/__pycache__/chess.cpython-311.pyc
chess gui/__pycache__/globals.cpython-311.pyc
chess gui/__pycache__/test.cpython-311.pyc
